body {
  font-family: Arial, sans-serif;
  background-image: url(img/bg.jpg);
  background-position: center;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: #f0f0f0;
  margin: 0;
}

.container {
  background-image: url(img/bg1.jpg);
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  text-align: center;
}
.container h1,
label {
  color: #000000;
}

input {
  padding: 10px;
  margin: 10px 0;
  border: 1px solid #000;
  border-radius: 4px;
  width: calc(100% - 22px);
  font-weight: bold;
}

button {
  padding: 10px 20px;
  border: none;
  border-radius: 4px;
  background-color: #007bff;
  color: #fff;
  cursor: pointer;
}

button:hover {
  background-color: #0056b3;
  transform: scale(1.05);
  border-color: #007bff;
  box-shadow: 0 0 5px rgba(0, 123, 255, 0.5);
}

#result {
  margin-top: 20px;
  font-size: 1.2em;
  color: #000000;
  font-weight: bold;
}
